doctype html
html
    head
        meta(charset="utf-8")
        title Пользовательское соглашение
        style.
            * {
                margin: 0;
                padding: 0;
                border: 0;
            }
            @font-face{
                font-family:"Helvetica Neue";
                src:url("/fonts/777312/93b6bf6a-418e-4a8f-8f79-cb9c99ef3e32.eot?#iefix");
                src:local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url("/fonts/777312/1bc99c0a-298b-46f9-b325-18b5e5169795.svg#1bc99c0a-298b-46f9-b325-18b5e5169795") format("svg"), url("/fonts/777312/c881c21b-4148-4a11-a65d-f35e42999bc8.woff") format("woff"),url("/fonts/777312/03634cf1-a9c9-4e13-b049-c90d830423d4.ttf") format("truetype");
                font-weight: 700;
            }
            @font-face{
                font-family:"Helvetica Neue";
                src:url("/fonts/777240/5b85c7cc-6ad4-4226-83f5-9d19e2974123.eot?#iefix");
                src:local("Helvetica Neue Light"), local("HelveticaNeue-Light"), url("/fonts/777240/3fc84193-a13f-4fe8-87f7-238748a4ac54.svg#3fc84193-a13f-4fe8-87f7-238748a4ac54") format("svg"), url("/fonts/777240/835e7b4f-b524-4374-b57b-9a8fc555fd4e.woff") format("woff"),url("/fonts/777240/2c694ef6-9615-473e-8cf4-d8d00c6bd973.ttf") format("truetype");
                font-weight: 300;
            }
            @font-face{
                font-family:"Helvetica Neue";
                src:url("/fonts/777264/7092fdcc-7036-48ce-ae23-cfbc9be2e3b0.eot?#iefix");
                src:local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"), url("/fonts/777264/ae1dea8c-a953-4845-b616-74a257ba72e6.svg#ae1dea8c-a953-4845-b616-74a257ba72e6") format("svg"), url("/fonts/777264/5b29e833-1b7a-40ab-82a5-cfd69c8650f4.woff") format("woff"),url("/fonts/777264/b0298148-2d59-44d1-9ec9-1ca6bb097603.ttf") format("truetype");
                font-weight: 400;
            }
            @font-face{
                font-family: "DINCyr-Light";
                src: local("DINCyr-Light"), url("/fonts/free/DinCyLt.ttf"), local("Helvetica");
            }
            body{
                font-smoothing: antialiased;
                font-family: "Helvetica Neue", sans-serif;
                font-weight: 300;
                background: #eee;
                color: #3a363b;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                //text-align: center;
            }
            .text{
                position: relative;
                width: 70%;
                height: 100%;
                margin: auto;
                color: rgba(0, 0, 0, 0.8);
            }
            #main{
                position: absolute;
                top: 60px;
                left: 60px;
                right: 18px;
                bottom: 60px;
                padding-right: 42px;
                font-size: 16px;
                overflow-y: auto;
                text-align: justify;
            }
            h1{
                margin initial;
                font-size 30px;
                font-weight: normal;
                margin-bottom: 20px;
                text-align: center;
            }
            h2{
                font-size: 19px;
            }
            li{
                padding: 5px 10px;
            }
            p{
                margin-bottom: 10px;
            }
            b{
                font-weight: normal;
            }
    body
        div.text
            div#main
                h1 Добро пожаловать на платформу buzzlike.pro.

                p Мы создавали buzzlike.pro для того, чтобы дать возможность активным пользователям социальных
                    сетей удобнее обращаться со своими сообществами и страницами в социальных сетях. Мы вместе
                    должны способствовать улучшению контента и социальных сетей. Платформой является совокупность
                    всех вариантов доступа, включая, но не ограничиваясь сайтом в сети интернет, доступному по
                    адресу buzzlike.pro, buzzlike.ru.

                    Администрация Платформы предлагает услуги (сервисы) на условиях, являющихся предметом настоящих Правил пользования. При этом необходимо соблюдать Правила, которые рассматриваются Администрацией платформы как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.

                ul <b>1.</b> Статус Правил пользования Платформой BuzzLike
                    li 1.1. Настоящие Правила пользования Платформой buzzlike.pro (ранее и далее – Правила) разработаны Администрацией и определяют условия использования и развития Платформы, а
                        также права и обязанности его Пользователей и Администрации. Правила распространяются
                        также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Платформы, но чьи права и интересы могут быть затронуты в результате действий
                        Пользователей Платформы
                    li 1.2. Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Платформы, предметом которого является предоставление Администрацией Платформы Пользователю услуг по использованию Платформы и ее сервисов (далее
                        – Услуги).
                    li 1.3. Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Платформе. Регистрация Пользователя на Платформе означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438 Гражданского
                        кодекса Российской Федерации.
                    li 1.4. Настоящие Правила могут быть изменены и/или дополнены Администрацией Платформы
                        в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила
                        являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет по адресу: http://buzzlike.pro/terms.
                        Администрация Платформы рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Платформой Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.

                ul <b>2.</b> Статус Плтатформы buzzlike.pro
                    li 2.1. Платформа BuzzLike является интернет-ресурсом и представляет собой совокупность информации и программ для ЭВМ, содержащихся в информационной системе, обеспечивающей
                        доступность такой информации в сети Интернет по сетевому адресу http://buzzlike.pro.
                    li 2.2. Все права на Платформу в целом и на использование сетевого адреса (доменного имени)  http://buzzlike.pro
                        принадлежат Администрации Платформы. Последняя предоставляет доступ
                        к Платформе всем заинтересованным лицам в соответствии с настоящими Правилами и действующим законодательством Российской Федерации.
                    li 2.3. Настоящими Правилами установлены условия, в соответствии с которыми права на использование информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами
                        для ЭВМ) в составе отдельных разделов Платформы, могут принадлежать Пользователям
                        Платформы и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на базе платформы без непосредственного участия Администрации Платформы.

                ul <b>3.</b> Администрация Платформы ВКонтакте
                    li 3.1. Под Администрацией Платформы buzzlike.pro (ранее и далее – Администрация Платформы, Администрация) в настоящих Правилах и иных специальных документах, размещенных
                        на Платформе, понимается Общество с ограниченной ответственностью «БазЛайк», юриди-ческое лицо, созданное по законодательству Российской Федерации и зарегистрированное по
                        адресу: 119180, г. Москва, ул. Полянка Б., д. 7/10, стр. 3, пом. 2, комн. 17.
                    li 3.2. Обращения, предложения и претензии физических и юридических лиц к Администрации
                        Платформы в связи с настоящими Правилами и всеми вопросами по функционированию
                        Платформы, нарушениями прав и интересов третьих лиц при его использовании, а также для
                        запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены на почтовый адрес ООО «БазЛайк», указанный в п. 3.1. настоящих Правил.
                    li 3.3. В отношении функционирования и развития Платформы Администрация руководствуется
                        законодательством Российской Федерации, настоящими Правилами и иными специальными
                        документами, которые разработаны или могут быть разработаны и приняты Администрацией
                        Платформы в целях регламентации предоставления Пользователям отдельных сервисов
                        Платформы.
                    li 3.4. Никакие положения настоящих Правил не предоставляют Пользователю право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных
                        знаков Администрации Платформы. Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Платформы
                        может быть предоставлено исключительно по письменному соглашению с Администрацией
                        Платформы.

                ul <b>4.</b> Регистрация на Платформе buzzlike.pro и статус Пользователя
                    li 4.1. Регистрация Пользователя на Платформе является бесплатной, добровольной и производится по адресу в сети Интернет: http://buzzlike.pro.
                    li 4.2. Пользователем Платформы является физическое лицо, зарегистрированное на Платформе
                        в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих
                        Правил, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).
                    li 4.3. При регистрации на Платформе Пользователь обязан предоставить Администрации
                        Платформы необходимую достоверную и актуальную информацию, включая уникальные для
                        каждого Пользователя логин (адрес электронной почты) и пароль доступа к Платформе, а
                        также фамилию и имя. Регистрационная форма Платформы может запрашивать у Пользователя дополнительную информацию.
                    li 4.4. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.
                    li 4.5. При регистрации Пользователь соглашается с настоящими Правилами и принимает на
                        себя указанные в них права и обязанности, связанные с использованием и функционированием Платформы. Пользователь приобретает полные права пользования Услугами Платформы.
                    li 4.6. После успешной регистрации Пользователя на Платформе Администрация принимает на
                        себя права и обязанности перед Пользователем, указанные в настоящих Правилах.
                    li 4.7. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Платформы обрабатывает персональные
                        данные Пользователя в целях предоставления Пользователю услуг, в том числе, в целях проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Платформы, а также разрабатывать новые сервисы и разделы Платформы. Администрация Платформы принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для
                        обеспечения функционирования Платформы и предоставления Услуг Пользователю. Администрация Платформы вправе использовать предоставленную Пользователем информацию, в
                        том числе персональные данные, в целях обеспечения соблюдения требований действующего
                        законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
                        Поскольку Администрация Платформы осуществляет обработку персональных данных Пользователя в целях исполнения заключенного договора между Администрацией Платформы и
                        Пользователем на оказание Услуг, в силу положений законодательства о персональных данных
                        согласие Пользователя на обработку его персональных данных не требуется.
                    li 4.8. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя наСайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном
                        обеспечении может разрешить хранение логина и пароля (с использованием файлов cookies)
                        для последующей автоматической авторизации на Платформе.
                    li 4.9. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В
                        случае несанкционированного доступа к логину и паролю и/или персональной странице
                        Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно
                        сообщить об этом Администрации Платформы в установленном порядке.
                    li 4.10. После регистрации Пользователь получает право самостоятельно в личных целях создавать, использовать и определять содержание его разделов в рамках платформы и условия доступа других Пользователей к их содержанию, а также получает возможности доступа и размещения информации в разделах других Пользователей (при условии получения соответствующих прав доступа от их обладателей).
                    li 4.11. Ведение сообществ
                    li 4.11.1. Пользователь вправе загружать контент (в значении, предусмотренном п. 6.1.1.
                        настоящих Правил) на Платформу и вести Сообщества социальных сетей (группы,
                        официальные страницы и встречи) для целей продвижения коммерческих, политических, благотворительных и иных некоммерческих организаций, брендов, товаров, работ и услуг, а также различных мероприятий. Все публикуемые материалы, методы и
                        способы их продвижения должны соответствовать действующему законодательству
                        Российской Федерации, в том числе законодательству о рекламе, международным правовым актам, настоящим Правилам, а также признанным этическим нормам и принципам морали, в том числе относящимся к таковым по мнению Администрации Платформы
                    li 4.11.2. При загрузке контента на Платформу или в Сообщества, Пользователь подтверждает, что действует на законных основаниях (например, по доверенности), обладает всеми необходимыми правами и не нарушает своими действиями законные права
                        и интересы третьих лиц и действующее законодательство Российской Федерации, в
                        том числе законодательство о конкуренции и правах на результаты
                        интеллектуальной деятельности и средства индивидуализации.
                    li 4.11.3. На платформе и в социальных сетях, в том числе в Сообществах, в альбомах, в
                        новостях, обсуждениях, опросах, аудиозаписях, видеозаписях, на стене, не допускается размещение Контента (в значении, предусмотренном п. 6.1.1. настоящих Правил)
                        целиком или по частям без предварительного разрешения правообладателя, а также
                        информации, предусмотренной п. 5.3.4. настоящих Правил. Пользователь, администрирующий Сообщество, обязан самостоятельно следить и пресекать не соответствующее Правилам размещение информации в Сообществе, и при необходимости
                        блокировать пользователям, нарушающим настоящие Правила, доступ к своим разделам Платформы или к Сообществу, используя функциональные возможности Платформы или социальной сети.
                    li 4.11.4. На Платформе не допускается размещение сторонней политической рекламы,.
                        Пользователи обязаны соблюдать все правила функционирования социальных сетей,
                        где они размещают свой контент, в том числе в Сообществах, в альбомах, в новостях,
                        обсуждениях, опросах, аудиозаписях, видеозаписях, на стене и т.д. Пользователю, администрирующему Сообщество, необходимо самостоятельно следить и пресекать не
                        соответствующее Правилам размещение сторонней рекламы в Сообществе.
                    li 4.11.5. Весь контент и все рекламные объявления должны соответствовать правилам
                        социальных сетей, опубликованных на сайтах социальных сетей.
                    li 4.11.6. Пользователь несет полную ответственность за свои действия, связанные с загрузкой контента на Платформу или администрированием Сообществ, в соответствии
                        с действующим законодательством Российской Федерации, международными правовыми актами и настоящими Правилами.

                ul <b>5.</b> Обязанности Пользователя buzzlike.pro
                    li 5.1. При пользовании Услугами Платформы Пользователь обязан:
                    li соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных специальных документов Администрации Платформы;  li предоставлять при регистрации достоверные, полные и актуальные данные, следить за
                        их актуализацией;
                    li информировать Администрацию Платформы о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя;
                    li не предоставлять доступ другим Пользователям к собственным разделам Платформы
                        или к отдельной содержащейся в них информации в случае, если это может привести к
                        нарушению законодательства Российской Федерации и/или настоящих Правил, специальных документов Администрации Платформы;
                    li не размещать в разделах Платформы информацию и объекты (включая ссылки на них),
                        которые могут нарушать права и интересы других лиц;
                    li перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать законность их размещения;
                    li хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие
                        ему известными в результате общения с другими Пользователями и иного использования Платформы персональные данные (включая, но не ограничиваясь, домашними
                        адресами, номерами телефонов, адресами электронной почты, ICQ, паспортными данными, банковской информацией) и информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних;
                    li осуществлять резервное копирование важной для Пользователя хранящейся в разделах Пользователя.
                    li 5.2. В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе, по размещению информации или предоставлению доступа, Администрация Платформы рекомендует воздержаться от осуществления последних.
                    li 5.3. Пользователю при использовании Платформы запрещается:
                    li 5.3.1. загружать, хранить, публиковать, распространять и предоставлять доступ или
                        иным образом использовать любую информацию, которая:
                    li содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство
                        или деловую репутацию или нарушает неприкосновенность частной жизни
                        других Пользователей или третьих лиц;
                    li нарушает права несовершеннолетних лиц;
                    li является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
                    li содержит сцены бесчеловечного обращения с животными;
                    li содержит описание средств и способов суицида, любое подстрекательство к
                        его совершению;
                    li пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
                    li содержит экстремистские материалы;
                    li пропагандирует преступную деятельность или содержит советы, инструкции
                        или руководства по совершению преступных действий,
                    li содержит информацию ограниченного доступа, включая, но не ограничиваясь,
                        государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
                    li содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по
                        употреблению;
                    li носит мошеннический характер;
                    li а также нарушает иные права и интересы граждан и юридических лиц или
                        требования законодательства Российской Федерации.
                    li 5.3.2. незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей
                        и третьих лиц;
                    li 5.3.3. осуществлять массовые публикации однотипного контента;  li 5.3.4. использовать программное обеспечение и осуществлять действия, направленные
                        на нарушение нормального функционирования Платформыи ее сервисов или личных
                        разделов Пользователей;
                    li 5.3.5. загружать, хранить, публиковать, распространять и предоставлять доступ или
                        иным образом использовать вирусы, трояны и другие вредоносные программы;
                    li 5.3.6. использовать без специального на то разрешения Администрации Платформы
                        автоматизированные скрипты (программы) для сбора информации на Платформе
                        и(или) взаимодействия с Платформой и ее сервисами;
                    li 5.3.7. любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;
                    li 5.3.8. осуществлять незаконные сбор и обработку персональных данных других лиц;
                    li 5.3.9. осуществлять (пытаться получить) доступ к каким-либо Услугам иным способом, кроме как через интерфейс, предоставленный Администрацией Платформы, за
                        исключением случаев, когда такие действия были прямо разрешены Пользователю в
                        соответствии с отдельным соглашением с Администрацией;
                    li 5.3.10. воспроизводить, дублировать, копировать, продавать, осуществлять торговые
                        операции и перепродавать Услуги для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями
                        отдельного соглашения с Администрацией;
                    li 5.3.11. размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Платформы,
                        ущемляет интересы Пользователей или по другим причинам является нежелательной
                        для размещения на Платформе.
                    li 5.4. Пользователь несет личную ответственность за любую информацию, которую размещает
                        на Платформе, сообщает другим Пользователям, а также за любые взаимодействия с другими
                        Пользователями, осуществляемые на свой риск.
                    li 5.5. В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования, проинформировав об этом Администрацию
                        Платформы в установленном порядке.

                ul <b>6.</b> Условия об интеллектуальных правах
                    li 6.1. Исключительные права на Контент, размещенный на Платформе.
                    li 6.1.1. Все объекты, размещенные на Платформе, в том числе элементы дизайна, текст,
                        графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и
                        другие объекты и их подборки (далее — Контент), являются объектами исключительных прав Администрации, Пользователей Платформы и других правообладателей, все
                        права на эти объекты защищены.
                    li 6.1.2. Кроме случаев, установленных настоящими Правилами, а также действующим
                        законодательством Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован,
                        скачан, передан, продан или иным способом использован целиком или по частям без
                        предварительного разрешения правообладателя, кроме случаев, когда правообладатель
                        явным образом выразил свое согласие на свободное использование Контента любым
                        лицом.
                    li 6.1.3. Пользователь, размещая на Платформе принадлежащий ему на законных основаниях Контент, предоставляет другим пользователям неисключительное право на его
                        использование путем просмотра, воспроизведения (в том числе копирования), переработку (в том числе на распечатку копий) и иные права исключительно с целью личного
                        некоммерческого использования, кроме случаев, когда такое использование причиняет
                        или может причинить вред охраняемым законом интересам правообладателя.
                    li 6.1.4. Использование Пользователем Контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном
                        виде.
                    li 6.1.5. Кроме своего собственного Контента, Пользователь не вправе загружать или
                        иным образом доводить до всеобщего сведения (публиковать на Платформе) Контент
                        других сайтов, баз данных и прочие результаты интеллектуальной деятельности при
                        отсутствии явным образом выраженного согласия правообладателя на такие действия.  li 6.1.6. Любое использование Платформыили Контента, кроме разрешенного в настоящих Правилах или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено.
                    li 6.1.7. Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах не может быть рассмотрено как передача исключительных прав на
                        Контент.
                    li 6.2. Ответственность за нарушение исключительных прав.
                    li 6.2.1. Пользователь несет личную ответственность за любой Контент или иную информацию, которые он загружает или иным образом доводит до всеобщего сведения (публикует)
                        на Платформе или с ее помощью в сообществах социальных сетей. Пользователь не имеет права загружать, передавать или публиковать Контент на Платформе, если он не обладает соответствующими правами на совершение таких действий,
                        приобретенными или переданными ему в соответствии с законодательством Российской Федерации.
                    li 6.2.2. Администрация Платформы может, но не обязана, просматривать Платформу на
                        наличие запрещенного Контента и может удалять или перемещать (без предупреждения) любой Контент или пользователей по своему личному усмотрению, по любой
                        причине или без причины, включая без всяких ограничений перемещение или удаление Контента, который, по личному мнению Администрации, нарушает настоящие
                        Правила, законодательство Российской Федерации и/или может нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц.
                    li 6.2.3. Размещая свой Контент на Платформе, Пользователь передает Администрации
                        право делать копии своего Контента с целью упорядочения и облегчения публикации и
                        хранения пользовательского Контента на Платформе.
                    li 6.2.4. Размещая свой Контент в любой части Платформы, Пользователь автоматически
                        безвозмездно предоставляет Администрации неисключительное право на его использование путем копирования, публичного исполнения, воспроизведения, переработки,
                        перевода и распространения для целей Платформы или в связи с ними, в том числе
                        для его популяризации. Для указанных целей Администрация может изготавливать
                        производные произведения или вставлять Контент Пользователя в качестве составных
                        частей в соответствующие сборники, совершать иные действия, служащие достижению указанных целей.
                    li 6.2.5. Если Пользователь удаляет свой Контент с Платформы, права, упомянутые в п.
                    li 6.2.3. – 6.2.4. настоящих Правил, будут автоматически отозваны, однако Администрация вправе сохранять архивные копии пользовательского Контента в течение неопределенного срока.
                    li 6.3. Сайты и Контент третьих лиц.
                    li 6.3.1. Платформа содержит (или может содержать) ссылки на другие сайты в сети Интернет (сайты третьих лиц) так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки, видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц (Контент третьих лиц),
                        являющийся результатом интеллектуальной деятельности и охраняемых в соответствии с законодательством Российской Федерации.
                    li 6.3.2. Указанные третьи лица и их Контент не проверяются Администрацией на соответствие тем или иным требованиям (достоверности, полноты, добросовестности и
                        т.п.). Администрация не несет ответственность за любую информацию, размещенную
                        на Сайтах третьих лиц, к которым Пользователь получает доступ через Платформу
                        или через Контент третьих лиц, включая, в том числе, любые мнения или утверждения, выраженные на Сайтах третьих лиц или в их Контенте.
                    li 6.3.3. Размещенные на Платформе ссылки или руководства по скачиванию файлов
                        и(или) установке программ третьих лиц не означают поддержки или одобрения этих
                        действий со стороны Администрации.
                    li 6.3.4. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или
                        некоммерческого характера, размещенная на Платформе, не является одобрением или
                        рекомендацией данных продуктов (услуг) со стороны Администрации.
                    li 6.3.5. Если Пользователь решил покинуть Сайт и перейти к сайтам третьих лиц или
                        использовать, или установить программы третьих лиц, он делает это на свой риск и с
                        этого момента настоящие Правила более не распространяются на Пользователя. При
                        дальнейших действиях Пользователю стоит руководствоваться применимыми норма-ми и политикой, в том числе деловыми обычаями тех лиц, чей Контент он собирается
                        использовать.

                ul <b>7.</b> Функционирование buzzlike.pro и ответственность при его использовании
                    li 7.1. Пользователи несут ответственность за собственные действия в связи с созданием и размещением информации в разделах Платформы, а также в связи с размещением информации в
                        разделах других Пользователей и в иных разделах Платформы в соответствии с действующим
                        законодательством Российской Федерации. Нарушение настоящих Правил и действующего
                        законодательства Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.
                    li 7.2. Администрация Платформы предоставляет техническую возможность его использования
                        Пользователями, не участвует в формировании содержания персональных страниц Пользователей и не контролирует и не несет ответственности за действия или бездействие любых лиц в
                        отношении использования Платформы или формирования и использования содержания персональных страниц Пользователей на Платформе.
                    li 7.3. В информационной системе Платформы и ее программном обеспечении отсутствуют технические решения, осуществляющие автоматические цензуру и контроль действий и информационных отношений Пользователей по использованию Платформы.
                    li 7.4. Администрация сохраняет за собой право в любое время изменять оформление Платформы, его содержание, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Платформе, любые серверные приложения в любое время с предварительным уведомлением или без такового.
                    li 7.5. Администрация Платформы не занимается предварительной модерацией или цензурой
                        информации Пользователей и предпринимает действия по защите прав и интересов лиц и
                        обеспечению соблюдения требований законодательства Российской Федерации только после
                        обращения заинтересованного лица к Администрации Платформы в установленном порядке.
                    li 7.6. Администрация Платформы не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему собственному усмотрению, а также при
                        получении информации от других пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать) или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов Платформы в любое время по любой причине или без объяснения причин,
                        с предварительным уведомлением или без такового, не отвечая за любой вред, который может
                        быть причинен Вам таким действием. Администрация Платформы закрепляет за собой право
                        удалить учетную запись Пользователя и(или) приостановить, ограничить или прекратить доступ Пользователя к любому из сервисов Платформы, если Администрация обнаружит, что по
                        ее мнению, Пользователь представляет угрозу для Платформы и(или) ее Пользователей. Администрация Платформы не несет ответственности за осуществленное в соответствии с настоящими Правилами временное блокирование или удаление информации, или удаление разделов Пользователя (прекращение регистрации) Пользователя.
                    li 7.7. Удаление разделов Пользователя означает автоматическое удаление всей информации,
                        размещенной в них, а также всей информации Пользователя, введенной при регистрации на
                        Платформе. После удаления разделов Пользователь теряет права доступа к Платформе.
                    li 7.8. Администрация Платформы обеспечивает функционирование и работоспособность Платформы и обязуется оперативно восстанавливать ее работоспособность в случае технических
                        сбоев и перерывов. Администрация Платформы не несет ответственности за временные сбои
                        и перерывы в работе Платформы и вызванные ими потерю информации. Администрация не
                        несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным
                        устройствам, любому другому оборудованию или программному обеспечению, вызванный
                        или связанный со скачиванием материалов с Платформы или по ссылкам, размещенным на
                        Платформе.
                    li 7.9. Администрация Платформы имеет право распоряжаться статистической информацией,
                        связанной с функционированием Платформы. Для целей организации функционирования и
                        технической поддержки Платформы и исполнения настоящих Правил Администрация Платформы имеет техническую возможность доступа к персональным данным и контенту пользователей, которую реализует только в случаях, установленных настоящими Правилами.
                    li 7.10. Администрация Платформы имеет право направлять Пользователю информацию о развитии Платформы и его сервисов, а также рекламировать собственную деятельность и услуги.  li 7.11. Ограничение ответственности Администрации Платформы:
                    li ПЛАТФОРМА И ЕЕСЕРВИСЫ, ВКЛЮЧАЯВСЕСКРИПТЫ, ПРИЛОЖЕНИЯ,
                        КОНТЕНТ И ОФОРМЛЕНИЕ ПЛАТФОРМЫ ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ
                        ИЛИ ЕГО СЕРВИСЫ МОГУТ ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ. АДМИНИСТРАЦИЯ НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ
                        ИСПОЛЬЗОВАНИЯ ПЛАТФОРМЫ И/ИЛИ ЕЕ СЕРВИСОВ;
                    li ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ
                        МЕРЫ ПРЕДОСТОРОЖНОСТИ В СКАЧИВАНИИ С ПЛАТФОРМЫ ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ССЫЛКАМ, И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В
                        ТОМ ЧИСЛЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ ПЛАТФОРМЫ НАСТОЯТЕЛЬНО РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ, В ТОМ ЧИСЛЕ АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ;
                    li ИСПОЛЬЗУЯ ПЛАТФОРМУ, ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С ПЛАТФОРМЫ ИЛИ С ЕГО ПОМОЩЬЮ ЛЮБЫЕ МАТЕРИАЛЫ НА
                        СВОЙ СОБСТВЕННЫЙ РИСК И НЕСЕТ ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ ИСПОЛЬЗОВАНИЯ УКАЗАННЫХ МАТЕРИАЛОВ, В
                        ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ ПРИЧИНИТЬ КОМПЬЮТЕРУ
                        ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ ДАННЫХ ИЛИ ЛЮБОЙ
                        ДРУГОЙ ВРЕД;
                    li НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ ПЛАТФОРМЫ ИЛИ ЕЕ
                        ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ
                        ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ
                        ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ПЛАТФОРМЫ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ ПЛАТФОРМЫ,
                        СОДЕРЖИМОГО ПЛАТФОРМЫ ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ
                        ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ ПЛАТФОРМЫ, ДАЖЕ
                        ЕСЛИ АДМИНИСТРАЦИЯ ПЛАТФОРМЫ ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА
                        НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.

                ul <b>8.</b> Заключительные положения
                    li 8.1. Настоящие Правила составляют соглашение между Пользователем и Администрацией
                        Платформы относительно порядка использования Платформы и ее сервисов и заменяют собой
                        все предыдущие соглашения между Пользователем и Администрацией;
                    li 8.2. Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством Российской Федерации.
                    li 8.3. В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Пользователь и Администрация Платформы приложат все усилия для их разрешения путем проведения переговоров между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим
                        законодательством Российской Федерации.
                    li 8.4. Настоящие Правила вступают в силу для Пользователя с момента его присоединения к
                        ним и действуют в течение неопределенного срока.
                    li 8.5. Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Правил
                        и версии Правил на ином языке, применяются положения русскоязычной версии настоящих
                        Правил
                    li 8.6. Если по тем или иным причинам одно или несколько положений настоящих Правил будут
                        признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.
