div.timePicker

    input
        width 25px
        margin-top 0
        display inline-block
        color #fff
        border: none
        background: none
        text-align center

    span
        color #fff
        font-size 21px
        text-align center
        margin 0 3px

div.timePickerInspecor
    float left
    margin-right 5px
    background #000
    padding 5px 10px

    span
        position relative
        float left
        font-size 26px
        color #fff
        width 10px
        padding 0 3px
        margin 0

    input
        position relative
        border 0
        font-size 26px
        color #fff
        width 32px
        height 29px
        float left
        margin 0