
.postPage2
    .mainBlock
        width 80%
        height 100%
        display inline-block
        margin 0 auto

        iframe
            height 100%
            width 100%
            background #000000
            animation show ease 1s