div.controlItem.closeControl(ng-click="closeApp()")
div.controlItem.minimizeControl(ng-click="hideApp()")
div.controlItem.maximizeControl(ng-click="maximize()")
div.controlItem.maximizeHeaderControl(ng-class="{'active':session.expandedHeader}", ng-click="triggerSettings()")
div.controlItem.helpControl(ng-click="showHelp()")