div.centerTitle Контакты
div.mainBlock
    div.column
        div.cell tel: +7 915 132 97 50
        div.cell e-mail: ilove@buzzlike.ru
        div.cell
        a(href="https://vk.com/buzzfarmer")
            u vk.com/buzzfarmer


    div.column3
        a(href="https://vk.com/buzzlike", target="_blank")
            div.imgClocks
            div.title Buzzlike
                sup pro
            div.text.
                Вся актуальная информация о проекте: новости, полезная информация,
                 ссылки на вспомогательные материалы и связь с администраторами.

    div.column3
        a(href="https://vk.com/buzzguide", target="_blank")
            div.imgGuide
            div.title BuzzGuide
            div.text.
                Инструкции и обучающие видео, как и для чего нужно
                 применять BuzzLike и прямая связь с нами для получения помощи.

    div.column3
        a(href="https://vk.com/buzzdevelopers", target="_blank")
            div.imgDev
            div.title BuzzDevelopers
            div.text.
                О новостях разработки наших фишек и информация о составе релизов.
                 Узнавай первыми о наших нововведениях. Общайся с создателями BuzzLike!
