.contactsPage
    .mainBlock
        width 80%
        display inline-block
        margin 0 auto

        .column
            width 100%
            padding 0 10px
            box-sizing border-box
            text-align center
            font-size 13px
            height 100px

            .cell
                padding-bottom 4px

        .column2
            width 50%
            float left
            padding 0 10px
            box-sizing border-box
            text-align left
            font-size 14px
            height 150px

            .cell
                padding-bottom 14px


        .column3
            width 33%
            float left
            padding 0 10px
            box-sizing border-box
            font-size 13px

            .imgClocks
                sprite "/resources/images/icons/paymentinfo/contactsPage/freakyclocks.png" center center 120px 90px no-repeat 100% 90px
            .imgGuide
                sprite "/resources/images/icons/paymentinfo/contactsPage/buzzguide.png" center center 120px 90px no-repeat 100% 90px
            .imgDev
                sprite "/resources/images/icons/paymentinfo/contactsPage/buzzdevelopers.png" center center 120px 90px no-repeat 100% 90px
            .title
                font-size 19px
                padding 10px 0
            .text
                text-align left
                font-size 11px


        u
            text-decoration underline

        a
            color #000000
            text-decoration none

            &:hover, div:hover
                cursor pointer

    *
        user-select text

