div.column
    .smallMark
div.column
    .smallMark
div.column
    .smallMark
div.column
    .longMark
div.column
    .smallMark
div.column
    .smallMark
div.column
    .smallMark
div.column
    .longMark
div.column
    .smallMark
div.column
    .smallMark
div.column
    .smallMark
