.appContainer.optionsList
    
    background: none
    border none
    
    background #f6f6f6
    border-radius 10px
    
    position: relative
    overflow: hidden
    
    .window
        width 450px