//- div.centerTitle Оферта
div.mainBlock
    div.text
        h2 ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ
        div.p.
            <b>1.</b> Общие положения 
        div.p.
            <b>1.1.</b> Данный документ является официальной публичной Офертой ООО «БазЛайк» (в 
             дальнейшем именуемого «Исполнитель») и содержит все существенные условия
             предоставления услуг на веб-сайте Исполнителя <a href="http://www.buzzlike.pro">www.buzzlike.pro</a>.
        div.p.
            <b>1.2.</b> В соответствии с п. 2 ст. 437 Гражданского Кодекса РФ в случае принятия изложенных 
             ниже условий и оплаты услуг, юридическое или физическое лицо, производящее акцепт
             этой оферты становится Заказчиком (в соответствии с п. 3 ст. 438 ГК РФ акцепт оферты
             равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и
             Заказчик совместно — Сторонами (а по отдельности - Сторона) договора Оферты.
        div.p.
            <b>1.3.</b> Принимая данный Договор-Оферту, Заказчик выражает свое согласие с тем, что 
             настоящие условия не ущемляют его законных прав.
        div.p.
            <b>1.4.</b> В связи с вышеизложенным, внимательно ознакомьтесь с текстом данной публичной 
             Оферты и, если Вы не согласны с ее условиями и правилами, или с каким-либо другим
             пунктом ее условий и/или иными документами, являющимися ее неотъемлемой частью,
             Исполнитель предлагает Вам отказаться от заключения настоящего Договора публичной
             Оферты и использования услуг Исполнителя.
             
        div.p.
            <b>2.</b> Термины и Определения
        div.p
            <b>2.1.</b> В целях настоящей Оферты нижеприведенные термины и определения используются в следующем значении:
            div.p.
                 Сайт - совокупность всех страниц домена buzzlike.pro.
            div.p.
                 Интернет-ресурс — совокупность страниц, размещенных на сервере Исполнителя и
                 образующих единую сеть Сайтов <a href="http://www.buzzlike.pro">www.buzzlike.pro</a>.
            div.p.
                 Контент — динамически обновляемые графические или текстовые модули, встраиваемые
                 в код страницы Интернет-ресурса, доступные для просмотра и совершения действий
                 пользователям.
            div.p.
                 Договор Оферты — договор между Исполнителем и Заказчиком на предоставление
                 Услуг, который заключается посредством Акцепта Оферты.
            div.p.
                 Акцепт Оферты — полное и безоговорочное принятие настоящего Договора Оферты
                 методом выполнения действий, отмеченных в части 4 данного Договора Оферты без
                 каких-либо изъятий и/или ограничений и равносилен заключению двухстороннего
                 письменного Соглашения.
            div.p.
                 Заказчик (Пользователь) — лицо, осуществившее Акцепт Оферты, и становящееся таким
                 образом Заказчиком Услуг Исполнителя по заключенному данному Договору.
            div.p.
                 Прайс-лист — действующий систематизированный перечень Услуг Исполнителя с
                 тарифными планами и ценами, публикуемый на Интернет-ресурсе.
            div.p.
                 Пользователь – физическое, либо юридическое лицо, осуществившее акцепт условий
                 настоящего Соглашения в целях использования Платформы.
            div.p.
                 Сервис – техническое решение Исполнителя на Сайте, предоставляемое Заказчику с
                 целью исполнения обязательств по Договору.
            div.p.
                 Баланс Заказчика – денежные средства внесенные авансовым платежом на расчетный
                 счет Исполнителя.
        
        div.p.
            <b>2.2.</b> В настоящей Оферте могут быть использованы термины, не определенные в п.2.1. В
             этом случае толкование такого термина производится в соответствии с текстом
             настоящей Оферты. В случае отсутствия однозначного толкования термина в тексте
             Оферты следует руководствоваться толкованием термина: в первую очередь — на Сайте
             Исполнителя, во вторую очередь — сложившимся в сети Интернет.
        
        div.p.
            <b>3.</b> Предмет Договора 
        div.p.
            <b>3.1.</b> В соответствии с условиями настоящей публичной Оферты Исполнитель обязуется 
             обеспечить оказание рекламно-информационных услуг, согласно п. 3.2. настоящей Оферты, а Заказчик обязуется принять и оплатить услуги Исполнителя в соответствии с
             настоящим Договором и Прайс-листом.
        div.p.
            <b>3.2.</b> Рекламно-информационные услуги Исполнителя предоставляются согласно,
             заполненной Заказчиком электронной Заявке и Прайс-листу, являющимся
             неотъемлемыми частями настоящего Договора.
        div.p.
            <b>3.3.</b> Договор публичной Оферты, Заявка и Прайс-лист (Приложение №1) являются 
             официальными документами и публикуются на Интернет-ресурсе Исполнителя
            <a href="http://www.buzzlike.pro">www.buzzlike.pro</a>.
        div.p.
            <b>3.4.</b> Исполнитель имеет право изменять стоимость услуги, условия данной публичной 
             Оферты и Приложения №1 без предварительного согласования с Заказчиком,
             обеспечивая при этом публикацию измененных условий на сайте Исполнителя, а так
             же в общедоступном для ознакомления с этими документами месте, не менее чем за
             один день до их ввода в действие.
        
        div.p.
            <b>4.</b> Акцепт оферты и заключение договора оферты 
        div.p.
            <b>4.1.</b> Заказчик производит Акцепт Оферты путем предоплаты услуг Исполнителя, с учетом
             условий в течение Срока Акцепта с учетом условий раздела 6 настоящего Договора.
        div.p.
            <b>4.2.</b> Срок Акцепта составляет время, с момента выставления Исполнителем счета на
             оплату Услуг в соответствии со стоимостью услуги до момента оплаты Заказчиком услуги
             с помощью банковского перевода на счет Исполнителя.
             
        div.p.
            <b>5.</b> Права и обязанности Сторон 
        div.p.
            <b>5.1.</b> Обязанности Исполнителя: 
        div.p.
            <b>5.1.1.</b> В течение срока действия настоящего Договора оказать Заказчику оплаченные им услуги.
        div.p.
            <b>5.1.2.</b> Оказывать услуги надлежащим образом в соответствии с настоящим Договором и законодательством РФ.
        div.p.
            <b>5.1.3.</b> Своевременно информировать Заказчика об изменениях в структуре услуг, 
             оказываемых по настоящему Договору и условиях их оказания, а также обо всех
             ситуациях, требующих дополнительного согласования.
        
        div.p.
            <b>5.2.</b> Права Исполнителя: 
        div.p.
            <b>5.2.1.</b> Исполнитель имеет право изменять стоимость услуг, условия данного 
             Договора публичной Оферты без предварительного согласования с Заказчиком,
             обеспечивая при этом выполнение услуг, публикацию измененных условий на Сайте
             по адресу: <a href="http://www.buzzlike.pro/payment">www.buzzlike.pro/payment</a>.
        div.p.
            <b>5.2.2.</b> Требовать оплату услуг в соответствии с условиями настоящего Договора публичной Оферты.
        div.p.
            <b>5.2.3.</b> В одностороннем порядке расторгнуть настоящий Договор в случае невыполнения 
             Заказчиком обязанностей по своевременной оплате Услуг в порядке, предусмотренном
             настоящим Договором, и/или в случая нарушения Заказчиком законодательства РФ при
             использовании сервисов Сайта, нарушения Правил пользования Сайтом и его Сервисов.
        div.p.
            <b>5.2.4.</b> Оказывать услуги с привлечением сторонних специалистов, оставаясь ответственным за их действия.
        div.p.
            <b>5.2.5.</b> Вести администрирование Сайта (Платформы) в соответствии с Порядком и 
             Правилами пользования Сайтом и его Сервисами, расположенными на главной странице
             по адресу: <a href="http://buzzlike.pro/static/terms_ru.html" target="_blank">http://buzzlike.pro/static/terms_ru.html</a>.
        
        div.p.
            <b>5.3.</b> Обязанности Заказчика: 
        div.p.
            <b>5.3.1.</b> Заказчик обязуется своевременно, в соответствии с условиями настоящего 
             Договора публичной Оферты, оплатить и принять Услуги Исполнителя.
        div.p.
            <b>5.3.2.</b> Выполнять все условия и требования, изложенные в настоящем Договоре, Правилах 
             пользования Сайтом и его Сервисами (адрес: <a href="http://www.buzzlike.pro/terms">www.buzzlike.pro/terms</a>) и иных
             документах, размещенных на Сайте <a href="http://www.buzzlike.pro/">www.buzzlike.pro/</a>.
        div.p.
            <b>5.3.3.</b> Не передавать свои права на использование сервисов Сайта, Услуг по Договору 
             Оферты какой-либо третьей стороне при отсутствии письменного согласия Исполнителя.
        div.p.
            <b>5.3.4.</b> Заказчик согласен с тем, что Исполнитель может обрабатывать и использовать
             персональные данные Заказчика согласно ФЗ «О персональных данных» от 27.07.2006 г. (далее –
             «Закон»), различными способами, в том числе путем осуществления
             автоматизированного анализа персональных данных, а также на их трансграничную
             передачу, без ограничения срока действия. Настоящее согласие может быть отозвано
             Заказчиком только при условии письменного уведомления Исполнителя не менее чем
             за 180 дней до предполагаемой даты прекращения использования данных Исполнителем.
        div.p
            <b>5.3.5.</b> Соглашаясь с условиями и принимая условия настоящей Оферты путем Акцепта Оферты, Заказчик заверяет и гарантирует Исполнителю, что:
            div.p.
                 • Заказчик указал достоверные персональные данные при оформлении Заявки и
                 платежных документов при оплате услуг Исполнителя;
            div.p.
                 • Заказчик заключает договор Оферты добровольно, при этом Заказчик полностью
                 ознакомился с условиями Оферты, полностью понимает предмет Оферты и договора
                 Оферты, полностью понимает значение и последствия своих действий в отношении
                 заключения и исполнения Договора Оферты;
            div.p.
                 • Заказчик обладает всеми правами и полномочиями, необходимыми для заключения
                 и исполнения Договора Оферты и для разрешения использования Исполнителем
                 информации и материалов предоставленных Заказчиком для оказания услуг в целях
                 исполнения договора Оферты;
        div.p.
            <b>5.3.6.</b> Заказчик обязуется не указывать заведомо ложных и незаконных сведений в 
             материалах и информации, передаваемых Исполнителю для оказания услуг, а также
             сведений запрещенных Правилами пользования Сайта и его Сервисами, следить за
             актуальностью и достоверностью сведений, содержащихся в них, соблюдать
             требования действующего законодательства к публично размещаемой информации,
             соблюдать права третьих лиц (в том числе интеллектуальные).
        div.p.
            <b>5.3.7.</b> В случае предъявления претензий к Исполнителю со стороны третьих лиц в
             отношении материалов и информации, передаваемой Заказчиком Исполнителю для
             оказания услуг, Заказчик по требованию Исполнителя в срок не более 3 (трех) рабочих
             дней обязан предоставлять документально подтвержденные сведения о соответствии
             предоставляемой Исполнителю информации, необходимой последнему для оказания
             услуг по настоящему Договору, требованиям законодательства Российской Федерации
             о рекламе, в том числе сведения о наличии лицензии, об обязательной сертификации, о
             государственной регистрации (или их должным образом заверенные копии) на товары и
             услуги в случаях, предусмотренных действующим законодательством РФ. Также Заказчик
             обязуется предоставить по требованию Исполнителя правоустанавливающие документы
             на свою организацию в предложенном Заказчиком составе.
        
        div.p.
            <b>5.4.</b> Права Заказчика: 
        div.p.
            <b>5.4.1.</b> Получать Услуги в соответствии с условиями настоящей оферты. 
        div.p.
            <b>5.4.2.</b> Получать необходимую и достоверную информацию об Исполнителе и оказываемых им Услугах.
        
        div.p.
            <b>6.</b> Условия и порядок предоставления услуг 
        div.p.
            <b>6.1.</b> Ознакомившись с информацией о стоимости, размещенной на Сайте Исполнителя, 
             выбрав вид услуги, Заказчик делает запрос на оказание Услуг, в электронной форме на
             Сайте Исполнителя посредством выбора тарифа на странице, размещенной по адресу:
            <a href="http://www.buzzlike.pro/payment">www.buzzlike.pro/payment</a> (далее – «Заявка»).
        div.p.
            <b>6.2.</b> На основании Заявки Исполнитель в течение 3(трех) дней с момента заполнения
             Заявки выставляет Заказчику Счет на оплату одной Услуги или нескольких Услуг в соответствии с Тарифом.
        div.p.
            <b>6.3.</b> Заказчик в течение 10 (десяти) банковских дней оплачивает Счет на оплату Услуг 
             Исполнителя, тем самым, давая подтверждение принятия условий настоящего Договора публичной Оферты Исполнителя.
        div.p.
            <b>6.4.</b> После проведения Заказчиком оплаты (Акцепт Оферты) и зачисления денежных
             средств на счет Исполнителя, настоящий Договор публичной Оферты вступает в силу.
        div.p.
            <b>6.5.</b> В случае несоответствия вида услуги, указанной в заявке, сумме оплаты,
             Исполнитель, если сумма недостаточна, выставляет Заказчику счет на доплату, либо, если
             уплаченная сумма превышает стоимость данной услуги, предлагает Заказчику перенести
             сумму переплаты в счет оплаты следующего периода оказания услуг, либо возвращает
             стоимость переплаты. В случае соответствия оплаты выбранной услуге или после
             получения доплаты либо заявки на дополнительную услугу, Исполнитель действует в
             соответствии с п. 6.6. настоящего Договора публичной Оферты.
        div.p.
            <b>6.6.</b> В общем случае Исполнитель приступает к выполнению своих обязательств по
             данному Договору в течение 3 (трех) дней с момента поступления на его счет предварительной оплаты за Услуги.
        div.p.
            <b>6.7.</b> Период оказания услуг составляет один календарный месяц с даты поступления
             денежных средств от Заказчика на расчетный счет Исполнителя.
        div.p.
            <b>6.8.</b> В случае, если на Сайте велись технические работы и Заказчик не мог осуществлять 
             пользование Сервисами Сайта надлежащим образом, Исполнитель без дополнительной
             платы продлевает оказание услуг на количество дней проведения технических работ.
             Продление оказания услуг осуществляется после получения Исполнителем письменной
             претензии Заказчика. Срок рассмотрения претензии составляет не более 5(пяти) рабочих дней.
        div.p.
            <b>6.9.</b> В случае, когда начало оказания услуг в указанные в п. 6.6. сроки, Исполнителю не 
             представляется возможным, он уведомляет об этом Заказчика не позднее 2(двух) дней с
             момента получения Заявки. В этой ситуации срок начала оказания услуг согласуется дополнительно.
        div.p.
            <b>6.10.</b> Услуги считаются оказанными надлежащим образом и в полном объеме, если в 
             течение трех дней с момента оказания услуг Заказчик не выставил претензию. В случае
             отсутствия претензии акт приемки-сдачи выполненных работ (услуг) считается
             подписанным, а услуги оказанными надлежащим образом. По факту оказания услуг
             Исполнитель в одностороннем порядке составляет Акт приемки-сдачи выполненных работ (услуг).
        div.p.
            <b>6.11.</b> Стороны после оказания услуг по договору не имеют друг к другу никаких 
             претензий за исключением случаев нарушения законодательства РФ.
             
        div.p.
            <b>7.</b> Стоимость услуг и порядок расчетов по Договору. 
        div.p.
            <b>7.1.</b> Оплата услуг Исполнителя, предоставляемых Заказчику, осуществляется на основе 
             предоплаты (авансовым платежом в размере 100%).
        div.p.
            <b>7.2.</b> Расчет предоставляемых Исполнителем услуг производится на основании Прайс-листа
             в рублях на основании выставленных Исполнителем счетов (в виде списания денежных
             средств с баланса Заказчика).
        div.p.
            <b>7.3.</b> Оплата производится Заказчиком путем перечисления денежных средств на
             расчетный счет Исполнителя на основании Счета, выставленного Исполнителем.
        div.p.
            <b>7.4.</b> В целях настоящего Договора публичной Оферты принимается оплата от Заказчика: 
             – в безналичной форме с расчетного счета Заказчика на расчетный счет Исполнителя;
             – через отделения Сбербанка РФ или других действующих банков России по квитанции;
        div.p.
            <b>7.5.</b> Оплата Услуг производится Заказчиком по собственному усмотрению и без 
             предусмотренной ответственности Исполнителя. Безопасность, конфиденциальность, а
             также иные условия использования выбранных Заказчиком способа/формы оплаты
             выходят за рамки Договора публичной Оферты и регулируются договорами между
             Заказчиком и соответствующими организациями (операторами).
        div.p.
            <b>7.6.</b> Заказчик самостоятельно отслеживает изменение реквизитов Исполнителя,
             указанных в настоящем Договоре и несет ответственность за правильность производимых им платежей.
             
        div.p.
            <b>8.</b> Ответственность Сторон 
        div.p.
            <b>8.1.</b> В случае невыполнения или ненадлежащего выполнения обязательств по настоящему 
             договору Стороны несут ответственность в соответствии с положениями настоящего
             Договора публичной Оферты и действующего законодательства РФ.
        div.p.
            <b>8.2.</b> Исполнитель не несет ответственности за невозможность обслуживания Заказчика по
             каким-либо независящим от него причинам, включая нарушение работы линий связи,
             неисправность оборудования, невыполнение обязательств поставщиков тех или иных услуг и т.п.
        div.p.
            <b>8.3.</b> Оплачивая Услуги Исполнителя по договору Оферты, Заказчик соглашается с
             условиями данного Договора и с тем, что он не в праве требовать от Исполнителя какой-
             либо компенсации морального, материального вреда или вреда, причиненного Заказчику
             как в течение срока действия настоящего Договора, так и по истечении срока его
             действия, за исключением случаев, прямо предусмотренных законодательством РФ.
        div.p.
            <b>8.4.</b> Исполнитель ни при каких обстоятельствах не несет никакой ответственности по 
             настоящему Договору за:
             а) какие-либо действия и/или бездействия, являющиеся прямым или косвенным
             результатом действий/бездействий каких-либо третьих сторон;
             б) какие-либо косвенные убытки и/или упущенную выгоду Заказчик и/или третьих сторон
             вне зависимости от того, мог Исполнитель предвидеть возможность таких убытков или нет;
             в) использование (невозможность использования) и какие бы то ни было последствия
             использования (невозможности использования) Заказчиком информации полученной от Исполнителя.
             г) материалы и информацию, передаваемые Заказчиком Исполнителю для оказания услуг.
        div.p.
            <b>8.5.</b> Совокупная ответственность Исполнителя по договору Оферты, по любому иску или 
             претензии в отношении договора Оферты или его исполнения, ограничивается суммой
             платежа, уплаченного Исполнителю Заказчиком по Договору публичной Оферты.
        div.p.
            <b>8.6.</b> Не вступая в противоречие с указанным выше, Исполнитель освобождается от 
             ответственности за нарушение условий договора Оферты, если такое нарушение вызвано 
             действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов 
             государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, 
             отсутствие электроэнергии, забастовки, гражданские волнения, беспорядки, любые иные 
             обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение 
             Исполнителем настоящего Договора. 
        div.p.
            <b>8.7.</b> Принятие к размещению и/или согласование Исполнителем какого-либо Контента и/
             или каких-либо изменений в Контенте ни при каких обстоятельствах не означает 
             подтверждение Исполнителем права Заказчика и/или предоставление Исполнителем 
             Заказчику права на какое-либо использование в таком Контенте объектов
             исключительных прав третьих лиц. Всю ответственность за такое использование и любые
             последствия такого использования Заказчик несет самостоятельно. 
        div.p.
            <b>8.8.</b> Стороны согласились, что в спорных ситуациях будут общаться через веб-интерфейс
             на Интернет-ресурсе Исполнителя или по электронной почте указанной на сайте Исполнителя. 
        div.p.
            <b>8.9.</b> Все споры и разногласия решаются путем письменных переговоров Сторон. В случае
             если споры и разногласия не могут быть урегулированы путем переговоров, и Заказчиком 
             является юридическое лицо или индивидуальный предприниматель, они передаются на 
             рассмотрение Арбитражного суда г. Москвы, если Заказчиком является физическое лицо
             – в соответствии с законодательством РФ. 
        div.p.
            <b>8.10.</b> В случае предъявления претензий к Исполнителю со стороны третьих лиц в 
             отношении материалов и информации, передаваемой Заказчиком Исполнителю для 
             оказания услуг, Заказчик обязуется урегулировать все такие претензии и спорные
             вопросы собственными силами и за собственный счет. 
         
        div.p.
            <b>9.</b> Срок действия, изменение, расторжение Договора 
        div.p.
            <b>9.1.</b> Договор вступает в силу с момента, указанного в п.1.2 настоящего Договора публичной 
             Оферты, и действует: до момента выполнения Исполнителем обязательств по оказанию 
             Услуг в объеме, соответствующем размеру произведенной Заказчиком по Договору 
             публичной Оферты предоплаты. 
        div.p.
            <b>9.2.</b> Исполнитель оставляет за собой право внести изменения в Оферту или отозвать
             Оферту в любой момент по своему усмотрению.
        div.p.
            <b>9.3.</b> Заказчик соглашается и признает, что внесение изменений в Оферту влечет за собой
             внесение этих изменений в заключенный и действующий между Заказчиком и
             Исполнителем Договор публичной Оферты, и эти изменения в Договор публичной 
             Оферты вступают в силу одновременно с вступлением в силу таких изменений в Оферту с 
             момента их опубликования на Сайте. 
         
        div.p.
            <b>9.4.</b> В случае отзыва Оферты Исполнителем в течение срока действия договора Оферты, 
             договор Оферты считается прекращенным с момента отзыва Оферты и до выполнения
             обязательств Сторон по Договору Оферты. 
        div.p.
            <b>9.5.</b> Исполнитель вправе в любое время в одностороннем порядке отказаться от
             исполнения Договора в соответствии с законодательством РФ. Исполнитель вправе
             прекратить оказание услуг по настоящему Договору в случае выявления нарушений
             законодательства РФ Заказчиком при использовании сервисов Сайта без выплат каких-либо компенсаций. 
        div.p.
            <b>9.6.</b> Заказчик соглашается и признает, что внесение изменений в Оферту влечет за собой 
             внесение этих изменений в заключенный и действующий между Заказчиком и 
             Исполнителем Договор, и эти изменения в Договор вступают в силу одновременно с 
             вступлением в силу таких изменений в Оферту. 
        div.p.
            <b>9.7.</b> Заказчик вправе в любое время в одностороннем порядке отказаться от Услуг 
             Исполнителя. В этом случае Заказчик обязан предупредить Исполнителя за 7 (семь) 
             дней до даты расторжения Договора публичной Оферты. В случае, если досрочное 
             расторжение Договора произошло по инициативе Заказчика, Заказчику возвращается: 
        div.p.
            <b>9.7.1.</b> сумма внесенных денежных средств на баланс Заказчика за последующие не 
             наступившие периоды оказания услуг. 
        div.p.
            <b>9.7.2.</b> сумма внесенных денежных средств на баланс Заказчика за текущий наступивший 
             период оказания услуг Заказчику не возвращается, а идет в счет компенсации 
             убытков Исполнителя в размере неустойки 100% от остатка денежных средств за 
             текущий период оказания услуг в связи с досрочным расторжением Договора. 
        div.p.
            <b>9.8.</b> В случае нарушений данной Оферты денежные средства не возвращаются. Срок 
             возврата денежных средств — до 10 (десяти) рабочих дней. 
             
        div.p.
            <b>10.</b> Конфиденциальность 
        div.p.
            <b>10.1.</b> Информация, составляющая коммерческую тайну, полученная Сторонами 
             друг от друга в процессе исполнения настоящего Договора, является конфиденциальной и
             не подлежит разглашению Стороной, получившей ее, третьей стороне. 
        div.p.
            <b>10.2.</b> Конфиденциальной считается: (1) информация, которая составляет коммерческую
             ценность в силу неизвестности ее третьим лицам к которой нет свободного доступа на
             законном основании и обладатель которой принимает меры к охране ее
             конфиденциальности (коммерческая тайна); (2) иная информация, не составляющая
             коммерческую тайну в соответствии с действующим законодательством РФ, однако в
             отношении которой Сторонами было письменно заявлено о том, что она является
             конфиденциальной, путем проставления грифа «Конфиденциально» на документе одной из Сторон. 
        div.p.
            <b>10.3.</b> Сторона, которая является обладателем конфиденциальной информации, 
             дает другой Стороне доступ к информации, составляющей коммерческую тайну в 
             целях исполнения обязательств по настоящему Договору при условии сохранения 
             конфиденциальности этой информации. Другая Сторона обязуется не раскрывать 
             ее третьим лицам, а также не использовать ее для иных целей, кроме как для 
             исполнения своих обязательств по настоящему Договору, без предварительного 
             письменного согласия правообладателя. Данное обязательство о сохранении 
             конфиденциальности не распространяется на информацию, которая является
             общедоступной. Факт сотрудничества Сторон является информацией, которая 
             может свободно распространяться каждой из Сторон. 
        div.p.
            <b>10.4.</b> Срок охраны конфиденциальной информации устанавливается Сторонами 
             не менее одного месяца со дня окончания действия настоящего Договора Оферты. 
        div.p.
            <b>11.</b> Прочие условия
        div.p.
            <b>11.1.</b> Любые уведомления по Договору Оферты могут направляться одной Стороной другой Стороне: 
        div.p.
            <b>11.1.1.</b> По электронной почте на адрес электронной почты Заказчика, указанного им в
             Заявке, на адреса электронной почты Исполнителя, указанный в конце настоящей Оферты; 
        div.p.
            <b>11.1.2.</b> Почтой с уведомлением о вручении. 
        div.p.
            <b>11.2.</b> Неосуществление того или иного права в рамках Договора Оферты, полномочия 
             или намерения, предусмотренные Договором Оферты, не означает ни отказа Исполнителя
             от сроков и условий Договора Оферты в случае следующего нарушения, ни отказа от
             своих прав потребовать соблюдения условий Договора Оферты в любое время впоследствии. 
        div.p.
            <b>11.3.</b> Договор Оферты представляет собой полную договоренность между Исполнителем 
             и Заказчиком. Исполнитель не принимает на себя никаких условий и обязательств в 
             отношении предмета Оферты, за исключением указанных в Оферте, которыми
             регулируется исполнение договора Оферты, за исключением случая, когда такие условия 
             или обязательства зафиксированы в письменном виде и подписаны уполномоченными 
             представителями Исполнителя и Заказчика. В случае если какие-либо условия 
             Приложений или Дополнительных Соглашений к договору Оферты противоречат 
             условиям Оферты, положения Оферты будут преобладать. 
             
        div.p.
            <b>12.</b> Реквизиты Исполнителя 
            div.p.
                 ООО «БазЛайк»
            div.p.
                 Юридический адрес: 119180, г. Москва, ул. Полянка Б., д. 7/10, стр. 3, пом. 2, комн. 17
            div.p.
                 ИНН 7706795721; КПП 770601001
            div.p.
                 ОГРН 1137746485832
            div.p.
                 ОКАТО 45286596000; ОКПО 17657997
            div.p.
                 р/с 40702810500000049671 ВТБ 24 (ЗАО)
            div.p.
                 к/с 30101810100000000716 в ОПЕРУ МОСКОВСКОГО ГТУ БАНКА РОССИИ
            div.p.
                 БИК 044525716
            div.p.
                 span Email: ilove@buzzlike.ru
             
        h3 Приложение №1 к ДОГОВОРУ ПУБЛИЧНОЙ ОФЕРТЫ

        h4 Перечень услуг и Прайс-лист Сайта Buzzlike.pro

        div.p.
            <b>1.</b> Перечень услуг Исполнителя 
        div.p.
            <b>1.1.</b> Предоставление доступа и помощь с подключением к системе Сайта BuzzLike по 
             адресу: buzzlike.pro ; 
        div.p
            <b>1.2.</b> Предоставление пользования следующими техническими решениями, входящими в систему Сайта BuzzLIke.pro:
            div.p.
                 • Раздел «Материалы», позволяющих загружать контент в систему текстовые и
                 графические элементы
            div.p.
                 • Раздел «Комбы», позволяющий составлять загруженные материалы в посты
            div.p.
                 • Раздел «Время», позволяющий назначать время отправки материалов в социальные
                 сети
            div.p.
                 • Маздел «Маркет», позволяющий пользователям принимать к размещению материалы
                 других пользователей или предлагать размещение своих материалов
        div.p.
            <b>1.3.</b> Полная и своевременная техническая поддержка работы всех сервисов. 

        div.p.
            <b>2.</b> Прайс-Лист 
        div.p
            <b>2.1.</b> Содержание и стоимость услуг: 
            div.p.
                 Название Услуги - предоставление доступа к пользованию системой buzzlike.pro
            div.p.
                 Описание Услуги - пакет сервисов «материалы», «комбы», «время» и «маркет»
            div.p.
                 Период оказания услуг - 1 месяц. Стоимость услуг c учетом НДС 18%, руб. 600 рублей
        div.p.
            <b>2.2.</b> Период оказания услуг составляет один календарный месяц с даты поступления
             денежных средств от Заказчика на расчетный счет Исполнителя. В случае оплаты
             Заказчиком за несколько календарных месяцев единовременным авансовым платежом,
             денежные средства поступают на баланс Заказчика и списываются с указанного баланса помесячно. 

        div.p
            <b>3.</b> Реквизиты Исполнителя 
            div.p.
                 ООО «БазЛайк»
            div.p.
                 Юридический адрес: 119180, г. Москва, ул. Полянка Б., д. 7/10, стр. 3, пом. 2, комн. 17
            div.p.
                 ИНН 7706795721; КПП 770601001
            div.p.
                 ОГРН 1137746485832
            div.p.
                 ОКАТО 45286596000; ОКПО 17657997
            div.p.
                 р/с 40702810500000049671 ВТБ 24 (ЗАО)
            div.p.
                 к/с 30101810100000000716 в ОПЕРУ МОСКОВСКОГО ГТУ БАНКА РОССИИ
            div.p.
                 БИК 044525716
            div.p.
                 span Email: ilove@buzzlike.ru


    div.agree
        checkbox(ng-model="agreed")
        div.title(label="agreed") Я прочитал и согласен с условиями

