.appContainer.requestMaster
    background #fff
    
    .body
        overflow hidden
        background #fff

        width 510px
        margin 0 auto

        padding 30px 40px 30px 40px
        
        // border-radius 10px
        box-shadow none
        
        b
            font-weight 300

        .loader
            position absolute
            z-index 10
            top 0
            bottom 0
            right 0
            left 0

            background #fff

        .header
            font-size 32px
            margin-bottom 30px
        
        .infoContainer
            overflow hidden
            margin-bottom 25px
            
            .infoItem
                float left
                width 50%
                
                .image
                    width 75px
                    height 75px
                    float left
                    
                    img
                        width 100%
                .info
                    overflow hidden
                    margin-left 90px
                    margin-right 10px
                    
                    .infoLine
                        white-space nowrap /* Запрещаем перенос строк */
                        overflow hidden
                        text-overflow ellipsis
                        
                        font-size 16px
                        line-height 19px
                        
        .checkText
            font-size 16px
            margin-bottom 18px    
            
        .prefixText
            font-size 12px
        
        .settings
            overflow hidden

            text-align center
            margin 30px 10px 30px 10px
            
            font-size 25px
            text-align center
            
            .datePicker
                margin 0 auto
                margin 10px 5px 10px 5px
                float left
                
                color #e6e6e6
                background #333
                
                width 120px
                border-radius 3px
                padding 5px 10px 5px 10px
                
                font-size 21px
                line-height 25px
            
            .timePicker
                margin 0 auto
                margin 10px 5px 10px 5px
                float left
                
                color #e6e6e6
                background #333
                
                width 100px
                border-radius 3px
                padding 5px 10px 5px 10px
                
                font-size 21px
                
            .costPicker
                margin 0 auto
                margin 10px 5px 10px 5px
                float left
                
                color #e6e6e6
                background #333
                
                width 150px
                border-radius 3px
                padding 5px 10px 5px 10px
                
                font-size 21px
                    
                input 
                    // margin-left 5px
                    width 100px
                    text-align center
                    color #e6e6e6
                    font-size 21px
                
        .conclusionText
            overflow hidden
            font-size 12px
            margin-bottom 40px
            
        .bottomButtons
            float right
            
            .makeRequest
                float right
                cursor pointer
                
            .cancelRequest
                float right
                
        .warning
            width 400px
            font-size 12px
            margin 10px
            color red
            