.appContainer.svgTunner
    
    .vertLine
        position: absolute
        top 0
        bottom 0
        border-right 1px solid #bbb
        
    .horLine
        position: absolute
        left 0
        right 0
        border-bottom 1px solid #bbb
    
    .gridOnTop
        .svgTunnerGrid
            z-index 10

    .svgTunnerGrid
        position: absolute
        top 0
        left 0
        
    .body
        overflow: auto