.confirmBox
    text-align center

    .window
        overflow: hidden
        display inline-block
        background: rgba(255,255,255,0.97)

        box-shadow #333 0 0 6px 2px

        .message
            margin 22px 50px
            font-size 36px
            font-weight lighter

        .buttons
            font-size: 24px

            div
                transition all 0.2s ease
                padding 13px
                font-weight lighter

                &.yes:hover
                    background: rgba(0,255,0,0.4)

                &.no:hover
                    background: rgba(255,0,0,0.4)
