.appContainer.moderation
    
    background: #333
    
    .topBar
        background: #fff

    .body
        background: #333
        overflow-y: auto
        
    .previewContainer
        margin: 0

    .moderationLot
        display: block
        overflow: hidden
        height 150px
        margin 15px 20px 0px 5px

        .controlBlock
            float: right

            button
                margin 25px auto
                display: block

        .lotPreview
            float: left

        .tagList
            width 400px
            float: left

            margin 10px 0 0 50px

            .tag
                float: left
                margin 5px