.appContainer.sendLogViewer
    
    .body
        overflow: auto
    
    .logItem
        word-break: break-all
        
        background: lightgreen
        border-bottom: green
        
        padding 10px
        
        .answer
            background: yellow
            padding 10px
            margin-top 10px
            
        .logView
            
            div
                margin: 5px 0
                line-height: 24px