div.notificationButtons(ng-if="buttons.length > 0")
    div.notificationButton(ng-repeat="button in buttons", ng-click="button.action()", ng-class="{'single':buttons.length == 1}") 
        div.buttonText {{translate(button.phrase)}}