@keyframes fadeOut
    0%
        opacity 1
    99%
        opacity 0
    100%
        display none


@keyframes fadeIn
    0%
        opacity 0
    99%
        opacity 1
    100%
        display block


