.appContainer.exportXLS
    
    background: #F2F2F2
    
    .body
        box-shadow none
        
        .exportSettings
            margin-top 23px
            margin-left 30px
            
            font-size 11px
            line-height 13px
            
            overflow hidden
            
            .community
                width 167px
                height 131px
                
                float left
                
            .exportParams
                float: left
                margin-left: 20px
                
                .datePicker
                    height 25px
                    font-size: 21px
                    line-height: 22px
                    float: left
                
                .timePicker
                    float: left
                    margin-right 20px
                
                .caption
                    margin-bottom 1px
                
                .value
                    margin-bottom 5px
                    border 1px solid #ddd
                    background: #fff
                    overflow: hidden
                    
                    &:focus
                        border-color #bbb
                        
                input, span
                    color #3a363b
                
        .presets
            line-height 16px
            font-size 12px
            margin: 10px 0 10px 30px
            
            .preset
                margin-right 10px
                color #b3b3b3
                
                &.active
                    color #000
                    
                    .link
                        text-decoration: underline
                        cursor: default
            .link
                cursor: pointer
            
        .options
            position: absolute
            right 35px
            bottom 18px
            
            font-size 11px
            line-height: 13px
            
            padding-top 4px
            
            .option
                padding 6px 20px
            