.appContainer.combs
    background: #fcc223
    color: #494949
    
    .scroll-bottom, .scroll-right
        background: rgba(252,194,35,0.8) !important
    
    .body
        overflow-y: auto
        
    .paginator
        .page
            border-color: #fcc223
            &.active
                background: #fcc223
                
.itemPreview.comb
    border 1px solid #fcc223
    
    box-sizing border-box
    
    .activityIndicator
        position: absolute
        top 0
        right 0
        
        .statsIcon
            text-align: center
            font-size 20px
            line-height 18px
            
        .statsValue
            font-size 14px
            line-height 20px
            
            padding-right: 4px            
            padding-left: 2px
    
    .name
        background: rgba(252,194,35,0.9)
        color: #494949
        
    .itemPreview.text
        .name
            color: #f2f2f2
        
.itemPreview.post
    border 1px solid #61a3cb

    box-sizing: border-box
    
    .name
        background: rgba(97,163,203, 0.9)
        color: #fff
        
.itemPreview.lot
    .name
        background: rgba(97,163,203, 0.9)
        color: #fff