div.previews
    div.itemPreview(type="lot", id="notification.itemList[2].id")

div.date {{notification.created | timestampMask: "DD ofMMMM YYYY — hh : mm"}}

div.text 
    div.header {{translate('notification_request_bet')}}
    div.description(ng-bind-html="translate('notification_request_bet_description') + ' ' + getSumm()")

div.notificationButtons