// .importContent
//     position relative
//     height 100%

//     .hostingLabels
//         position absolute
//         float left
//         height 100%
//         left 0
//         top 0
//         width 80px

//     .allContent
//         position relative
//         float left
//         height 100%
//         width 100%

//         .allContentWrapper
//             padding-left 80px

//             .url
//                 position relative
//                 height 75px
//                 width 100%
//                 background rgba(0,0,0,0.8)


// .addVideo

//     .spinner
//         position absolute
//         display none
//         left 50%
//         top 50%
//         z-index 50

//     .window
//         overflow: hidden
//         position: absolute

//         width 600px
//         margin-left -300px
//         left 50%
//         top 30%
//         margin-top -75px

//         background: rgba(255,255,255,0.9)

//         div.videoUrlInput
//             width 100%
//             text-align left

//             span.protocol
//                 color #666
//                 font-weight: normal
//                 font-size 23px
//                 line-height 28px
//                 margin-left 20px

//                 display: inline-block
//                 position: relative
//                 top 1px

//             input.url
//                 margin: 20px 20px 20px 4px
//                 font-size: 23px
//                 line-height: 28px
//                 color #000

//                 font-weight: lighter
//                 font-family: 'Helvetica Neue', sans-serif;

//                 width 400px //413px

//             button.grab
//                 cursor: pointer

//         div.ajaxLoading
//             overflow: hidden

//             height 0
//             width 100%
//             background: rgba(0,0,0,0.4)

//             text-align: center

//             transition all 0.2s ease

//             &.active
//                 height 80px

//                 div.spinner
//                     margin-top 21px

//             div.spinner
//                 transition all 0.2s ease
//                 display inline-block
//                 margin-top 0

//         div.videoPreview
//             overflow: hidden
//             text-align: left

//             margin-bottom 20px

//             div.title
//                 font-size: 23px
//                 line-height: 28px
//                 margin: 20px 30px
//                 float: left

//             div.preview
//                 width 540px

//                 margin: 0 30px
//                 float: left
//                 text-align: center

//                 img
//                     width 480px
//                     height 360px

//             input
//                 width 350px
//                 height 34px
//                 font-weight: lighter
//                 font-family: 'Helvetica Neue', sans-serif;
//                 color #000
//                 font-size 26px

//                 margin-bottom 10px

//         .buttons
//             margin 5px
//             overflow: hidden

//             div
//                 float: left
//                 width 50%
//                 text-align: center

//                 height 50px
//                 line-height 50px

//                 cursor: pointer
//                 background: rgba(0,0,0,0)

//                 transition all 0.2s ease

//                 &.yes:hover
//                     background: rgba(0,255,0,0.4)

//                 &.no:hover
//                     background: rgba(255,0,0,0.4)

//                 &.inactive
//                     background: rgba(100,100,100,0.4) !important
