div.centerTitle Оплата эфирным временем
div.mainBlock
    div.column
        div.cell
            div.grayBuzzPost
            div.text
        div.cell
            div.grayPepsiPost
            div.text
                span Выберете один из постов в маркете

    div.column
        div.cell
            div.colorBuzzPost
            div.text
                span Разместите репост от Buzzlike на личной странице
        div.cell
            div.colorPepsiPost
            div.text
                span Разместите пост от бренда в крупном сообществе

    div.column
        div.cell
            div.badge
            div.text
                span Один пост из маркета — это бесплатный месяц работы в Buzzlike
