.postPage1
    .mainBlock
        width 80%
        display inline-block
        margin 0 auto

        .column
            width 33%
            float left
            padding 0 10px
            box-sizing border-box

            .grayBuzzPost
                height 96px
                sprite "/resources/images/icons/paymentinfo/postPage1/comb_buzz-gray.png" center center 96px 96px
            .grayPepsiPost
                height 96px
                sprite "/resources/images/icons/paymentinfo/postPage1/comb_pepsi-gray.png" center center 96px 96px
            .colorBuzzPost
                height 96px
                sprite "/resources/images/icons/paymentinfo/postPage1/comb_buzz-color.png" center center 172px 96px
            .colorPepsiPost
                height 96px
                sprite "/resources/images/icons/paymentinfo/postPage1/comb_pepsi-color.png" center center 172px 96px
            .badge
                height 262px
                sprite "/resources/images/icons/paymentinfo/postPage1/badge_big.png" center center 200px 210px

            .text
                min-height 60px
                padding-top 10px

