.itemsContainer
    padding 15px

.previewContainer
    width 167px
    height 131px
    
    margin 15px
    float: left
    
    img
        user-select none
        pointer-events none
        
    .taskDescription
        color: #fff
        padding 10px
    
.itemPreview
    transform translate3d(0,0,0)  
    complex-preview
        position initial