.moneyPage1
    overflow hidden

    .mainBlock
        size 'abs' 75px 10% 0 10%
        text-align left
        overflow auto
        line-height 19px

        p.title
            //text-align center
            padding 9px 4px

        p
            padding 4px

        b
            font-weight bolder

        a
            color #777
        *
            user-select text

