.moneyPage1
    .mainBlock
        width 80%
        display inline-block
        margin 0 auto

        .column
            width 50%
            float left
            padding 0 10px
            box-sizing border-box