/*
  Roboto
*/
@font-face
    font-family: 'Roboto'
    src:
        url('/resources/fonts/nova/Roboto-Thin.woff2') format('woff2'),
        url('/resources/fonts/nova/Roboto-Thin.woff') format('woff');
    font-weight: 200

@font-face
    font-family: 'Roboto'
    src:
        url('/resources/fonts/nova/Roboto-Light.woff2') format('woff2'),
        url('/resources/fonts/nova/Roboto-Light.woff') format('woff');
    font-weight: 300

@font-face
    font-family: 'Roboto'
    src:
        url('/resources/fonts/nova/Roboto-Regular.woff2') format('woff2'),
        url('/resources/fonts/nova/Roboto-Regular.woff') format('woff');
    font-weight: 400

@font-face
    font-family: 'Roboto'
    src:
        url('/resources/fonts/nova/Roboto-Medium.woff2') format('woff2'),
        url('/resources/fonts/nova/Roboto-Medium.woff') format('woff');
    font-weight: 500

@font-face
    font-family: 'Roboto'
    src:
        url('/resources/fonts/nova/Roboto-Bold.woff2') format('woff2'),
        url('/resources/fonts/nova/Roboto-Bold.woff') format('woff');
    font-weight: 800

body
    font-smoothing: antialiased
    font-family: "Roboto", sans-serif
    font-weight: 300

body
    div
    span
    textarea
    input
    p
    b
    button
        font-family: "Roboto", sans-serif
        font-smoothing: antialiased
        font-weight: 300

    textarea
    input
    button
        outline: none
