.zoomSwitcher
    .min
        width 24px
        height 21px
        
        background: url(/resources/images/desktop/filters/white/zoom-size-min.svg)

        &.active
            background: url(/resources/images/desktop/filters/white/zoom-size-min-active.svg)
            
        .black &
            background: url(/resources/images/desktop/filters/black/zoom-size-min.svg)
            
            &.active
                background: url(/resources/images/desktop/filters/black/zoom-size-min-active.svg)
            
    .mid
        width 23px
        height 21px
        
        background: url(/resources/images/desktop/filters/white/zoom-size-mid.svg)

        &.active
            background: url(/resources/images/desktop/filters/white/zoom-size-mid-active.svg)
            
        .black &
            background: url(/resources/images/desktop/filters/black/zoom-size-mid.svg)
            
            &.active
                background: url(/resources/images/desktop/filters/black/zoom-size-mid-active.svg)
    
    .max
        width 23px
        height 21px
        
        background: url(/resources/images/desktop/filters/white/zoom-size-max.svg)

        &.active
            background: url(/resources/images/desktop/filters/white/zoom-size-max-active.svg)
            
        .black &
            background: url(/resources/images/desktop/filters/black/zoom-size-max.svg)
            
            &.active
                background: url(/resources/images/desktop/filters/black/zoom-size-max-active.svg)