.contentBuilder
    .topbar
        position absolute
        top 0
        left 0
        right 0
        height 42px
        background #000000
        color #ffffff
        overflow hidden

    $w = 200px
    .left-panel
        position absolute
        top 42px
        left 0
        bottom 0
        width $w
        background rgba(0, 0, 0, 0.4)
        overflow hidden

        .tab
            position absolute
            height 100%
            width 100%
            transition all ease 0.3s
            color #ffffff


            &.menu
                transform translateX(-($w))

            &.figures, &.properties, &.text
                transform translateX($w)

            &.visible
                transform translateX(0)

            &.left
                transform translateX(-($w))

            &.right
                transform translateX($w)

            .caption
                padding 8px 10px
                font-size 18px
            .figure
                padding 4px 20px
                font-size 18px




    .content
        position absolute
        top 42px
        left 0
        right 0
        bottom 0

        .canvas-container
            border 1px solid blueviolet
            margin -1px 0 0 -1px
        canvas.lower-canvas
            //background url("/resources/images/patterns/transparent.png")
            //background rgba(255, 255, 255, 0.4)
        canvas
            width 100%
            height 100%
