div.perspective
    div.scroller
        p(ng-repeat="block in blocks") {{block.value}}

//- audio#starTheme(preload="metadata", loop)
//-     source(src="/audio/starwars.ogg", type="audio/ogg")
//-     source(src="/audio/starwars.mp3", type="audio/mpeg")