div.dayBreak(ng-class="{'glued':group.glued==2}")
    div.weekDay(translate="timeInfo.weekDay", index="0")
    div.date {{::timeInfo.day}}
    div.month(translate="timeInfo.month", index="0")
    div.year {{::timeInfo.year}}