.appContainer.inviteUser

    background: #FFDD00
    
    .body
        box-shadow none
        font-size 12px
        
        text-align: center
        color: #333
        
        .inviteNewUser
            position: absolute
            text-align: center
            font-size 11px
            left 0
            right 0
            top 112px        
            cursor: pointer 
            font-weight bolder   
            
        .introText
            margin-top 20px
            width 100%
            
        .inputContainer
            width 225px
            height 23px
            
            border 1px solid #333
            border-radius 3px
            
            margin 13px auto
            
            input
                width 100%
                height 100%
                
                box-sizing border-box
                padding: 0 8px
                
                line-height 23px
                font-size 14px
                
        .searchBottomText
            font-size 10px
            line-height 12px
            width 290px
            height 50px
            margin: 0 auto
            
        .rolePickerText
            margin: 0 auto
            width 290px
            font-size 12px
            text-align left
            
        .rolePicker
            margin: 0 auto
            width 290px
            overflow: hidden
            
            .userPic
                float: left
                width 50px
                height 50px
                float: left
                margin 10px
                overflow: hidden
            
            .userDetails
                margin-left 3px
                margin-top 13px
                margin-bottom 20px
                float: left
                
                .userName
                    text-align: left
                    
                .combobox
                    width 215px
                    height 25px
                    font-size 12px
                    text-align: left
                    
                    border 1px solid #CCCCCC
                    background-position right -5px
                    margin-top 8px
                    
                    cursor: pointer
                    
                    .value
                        font-size 12px
                        line-height 25px
                        cursor: pointer
                        
                        padding-left 6px
                        margin-right 20px
                    
        .roleDescription
            margin-top 15px
            margin: 0 auto            
            width 290px
            height 70px
            font-size 10px
            line-height 12px
            text-align: left
            margin-bottom 20px
        
        .options
            margin-right: 30px
            
        .option
            font-size 11px
            height 20px
            line-height 20px
            padding: 0 15px
            
            border-radius 3px
            
            &.cancel
                background: none
                border none
                
                &:hover
                    color #333