.snowScreen, .snowScreen canvas
    position absolute
    bottom 0
    right 0
    left 0
    top 0

.snowScreen
    //display none
    display block
    pointer-events none

    .fpsCounter
        position absolute
        left 0
        bottom 0
        z-index 10